Data structure

In [6]:
import pandas as pd
raw_data = pd.read_csv('../data/raw_data.csv')
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80775 entries, 0 to 80774
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       80775 non-null  int64
 1   Street                   65587 non-null  object
 2   HouseNumber              63385 non-null  object
 3   Box                      14957 non-null  object
 4   Floor                    31345 non-null  float64
 5   City                     80775 non-null  object
 6   PostalCode               80775 non-null  int64
 7   Region                   80775 non-null  object
 8   District                 80775 non-null  object
 9   Province                 80775 non-null  object
 10  PropertyType             80775 non-null  object
 11  PropertySubType          80775 non-null  object
 12  Price                    80773 non-null  float64
 13  SaleType                 80775 non-null  object
 14  BidStylePricing          69219 non-null  float64
 15  ConstructionYear         49211 non-null  float64
 16  BedroomCount             80775 non-null  int64
 17  LivingArea               71023 non-null  float64
 18  KitchenType              46757 non-null  object
 19  Furnished                26151 non-null  float64
 20  Fireplace                80775 non-null  int64
 21  Terrace                  42965 non-null  float64
 22  TerraceArea              27258 non-null  float64
 23  Garden                   18754 non-null  float64
 24  GardenArea               49398 non-null  float64
 25  Facades                  57541 non-null  float64
 26  SwimmingPool             26624 non-null  float64
 27  Condition                57227 non-null  object
 28  EPCScore                 63849 non-null  object
 29  EnergyConsumptionPerSqm  60961 non-null  float64
 30  Latitude                 65538 non-null  float64
 31  Longitude                65538 non-null  float64
 32  ListingCreateDate        80775 non-null  object
 33  ListingExpirationDate    80775 non-null  object
 34  ListingCloseDate         7525 non-null   object
 35  bookmarkCount            79535 non-null  float64
 36  ViewCount                79535 non-null  float64
 37  PropertyUrl              0 non-null      float64
 38  Property url             80775 non-null  object
dtypes: float64(18), int64(4), object(17)
memory usage: 24.0+ MB

In [7]:
raw_data.describe()

,ID,Floor,PostalCode,Price,BidStylePricing,ConstructionYear,BedroomCount,LivingArea,Furnished,Fireplace,...,Garden,GardenArea,Facades,SwimmingPool,EnergyConsumptionPerSqm,Latitude,Longitude,bookmarkCount,ViewCount,PropertyUrl
count,8.077500e+04,31345.000000,80775.000000,8.077300e+04,69219.000000,49211.000000,80775.000000,71023.000000,26151.000000,80775.000000,...,18754.0,49398.000000,57541.000000,26624.000000,6.096100e+04,65538.000000,65538.000000,79535.000000,79535.000000,0.0
mean,1.097719e+07,3.708694,5212.803033,4.320739e+05,0.088083,1978.619760,2.935438,179.064233,0.069022,0.149997,...,1.0,1225.609741,2.823170,0.061711,1.787907e+04,50.903276,4.291690,22.972817,1929.458402,NaN
std,2.993144e+05,237.739808,3045.581898,4.811757e+05,0.283417,79.450292,2.117130,458.276481,0.253497,0.357071,...,0.0,9720.682505,0.894561,0.240635,4.052674e+06,0.342486,0.923981,38.644387,2727.260873,NaN
min,1.882546e+06,0.000000,1000.000000,1.000000e+00,0.000000,1753.000000,0.000000,3.000000,0.000000,0.000000,...,1.0,0.000000,1.000000,0.000000,-1.400000e+02,25.761680,-80.191790,0.000000,0.000000,NaN
25%,1.092278e+07,0.000000,2300.000000,2.290000e+05,0.000000,1957.000000,2.000000,96.000000,0.000000,0.000000,...,1.0,150.000000,2.000000,0.000000,1.570000e+02,50.746902,3.720910,3.000000,490.000000,NaN
50%,1.107307e+07,1.000000,4728.000000,3.250000e+05,0.000000,1979.000000,3.000000,141.000000,0.000000,0.000000,...,1.0,377.000000,3.000000,0.000000,2.620000e+02,50.927770,4.366474,11.000000,1143.000000,NaN
75%,1.114773e+07,3.000000,8400.000000,4.750000e+05,0.000000,2016.000000,4.000000,200.000000,0.000000,0.000000,...,1.0,862.000000,4.000000,0.000000,4.120000e+02,51.156766,4.779235,28.000000,2421.000000,NaN
max,1.119958e+07,41995.000000,9992.000000,2.250000e+07,1.000000,9999.000000,200.000000,88140.000000,1.000000,1.000000,...,1.0,950774.000000,47.000000,1.000000,1.000000e+09,52.434244,6.385048,4674.000000,243666.000000,NaN

In [13]:
clean_data = pd.read_csv('../data/clean_data.csv')
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65469 entries, 0 to 65468
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Floor                    27537 non-null  float64
 1   PostalCode               65469 non-null  int64
 2   PropertySubType          65469 non-null  object
 3   Price                    65469 non-null  float64
 4   ConstructionYear         42357 non-null  float64
 5   LivingArea               65469 non-null  float64
 6   Furnished                65469 non-null  int64
 7   Fireplace                65469 non-null  int64
 8   TerraceArea              65469 non-null  float64
 9   GardenArea               65469 non-null  float64
 10  Facades                  46875 non-null  float64
 11  SwimmingPool             65469 non-null  int64
 12  EnergyConsumptionPerSqm  49298 non-null  float64
 13  ListingCreateDate        65469 non-null  int64
 14  bookmarkCount            65469 non-null  int64
 15  ViewCount                65469 non-null  int64
 16  Condition#               46857 non-null  float64
 17  KitchenType#             39509 non-null  float64
dtypes: float64(10), int64(7), object(1)
memory usage: 9.0+ MB

In [9]:
clean_data.describe()

,Floor,PostalCode,Price,ConstructionYear,LivingArea,Furnished,Fireplace,TerraceArea,GardenArea,Facades,SwimmingPool,EnergyConsumptionPerSqm,ListingCreateDate,bookmarkCount,ViewCount,Condition#,KitchenType#
count,27537.000000,65469.000000,6.546900e+04,42357.000000,65469.000000,65469.000000,65469.000000,65469.000000,65469.000000,46875.000000,65469.000000,4.929800e+04,6.546900e+04,65469.000000,65469.000000,46857.000000,39509.000000
mean,2.379925,5078.569934,4.535572e+05,1979.115471,177.927767,0.023339,0.160030,9.156334,735.481571,2.814528,0.021873,2.197208e+04,1.701186e+09,21.279430,1797.037835,3.224961,0.946443
std,15.964986,3112.684980,4.930793e+05,40.373478,328.056118,0.150980,0.366637,42.965116,7195.838312,0.900658,0.146270,4.506640e+06,1.296375e+07,38.074369,2654.734915,1.288780,0.225145
min,0.000000,1000.000000,2.500000e+03,1753.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.228484e+09,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2170.000000,2.450000e+05,1958.000000,95.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.500000e+02,1.699073e+09,3.000000,433.000000,3.000000,1.000000
50%,1.000000,4100.000000,3.390000e+05,1980.000000,140.000000,0.000000,0.000000,0.000000,85.000000,3.000000,0.000000,2.490000e+02,1.705403e+09,10.000000,1044.000000,3.000000,1.000000
75%,3.000000,8430.000000,4.950000e+05,2017.000000,200.000000,0.000000,0.000000,10.000000,504.000000,4.000000,0.000000,3.920000e+02,1.708153e+09,26.000000,2257.000000,5.000000,1.000000
max,999.000000,9992.000000,1.500000e+07,2033.000000,49671.000000,1.000000,1.000000,6550.000000,950774.000000,47.000000,1.000000,1.000000e+09,1.710080e+09,4674.000000,243666.000000,5.000000,1.000000

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

# Calculate the correlation matrix
correlation_matrix = clean_data.corr()

# Set up the matplotlib figure
plt.figure(figsize=(12, 10))

# Plot the heatmap
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", annot_kws={"size": 8}) # Adjust the font size here

# Customize the plot
plt.title('Correlation Matrix of Clean Data', fontsize=16)
plt.xticks(rotation=90, ha='right')  # Rotate x-axis labels vertically
plt.yticks(rotation=0)               # Rotate y-axis labels horizontally
plt.tight_layout()

# Show the plot
plt.show()

ValueError: could not convert string to float: 'House'